<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>HyunuShop</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div>
     <h1 id = "header">hPhone</h1>
	<nav id ="nav">
          <ul>
          		<li><a href ="../hmain.html" target = "_parent">main</a>
			    <li><a href ="../ppp.html" target="_parent">Best</a></li>
         </ul>
         <ul id = "input">
	         <li><a href ="#">회원가입</a>
	         <li><a href ="#">Login</a>
         </ul>
      </nav>
   </div>
</body>